.graphBlock{
    display:flex;
    justify-content: space-evenly;
  }
.SpinnerBlock{
  
  display:flex;
  justify-content: center;
}
h2{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.valueInfo{
  display: flex;
  justify-content: center;
}
